/*去除全局样式*/
*{margin:0;padding:0;border-style:none;}
/*容器样式*/
#domList{position:fixed; display:none; z-index:1;}
/*上方标题样式*/
#dTop{
	position:static;
	width:100%;
	background:#FFF;
	border-bottom:1px solid #CCC;
}
#dReturn{ /*返回按钮*/
	position:absolute;
	left:0.34em;
	width:20%;
	color:#39F;
	line-height:1.6em;
	font-size:1.5em;
	z-index:1;
}
#dTopTitle{ /*标题*/
	position:absolute;
	width:100%;
	line-height:2.4em;
	font-size:1em;
	font-weight: bold;
	text-align: center;
}
#dReset{ /*重置按钮*/
	position:absolute;
	right:0.625em;
	width:15%;
	color:#39F;
	line-height:3em;
	font-size:0.8em;
	text-align: right;
	z-index:1;
}
/*主要内容样式*/
#dContent{ /*主要内容载体*/
	position:static;
	width:100%;
	background:#EEE;
	overflow:auto;
}
.dc{ /*子内容载体*/
	position:static;
	width:100%;
	padding-top:0.8em;
}
.dTitle{ /*子内容标题*/
	position:relative;
	width:100%;
	height:1.4em;
	color:#777;
}
.dSub{ /*子内容*/
	position:static;
	width:100%;
	background:#FFF;
	border-top:1px solid #CCC;
}
.dSub>span{ /*子内容每行样式*/
	position:relative;
	display:block;
	height:2.2em;
	border-bottom:1px solid #CCC;
}
.dLeft{ /*左边信息样式*/
	position:absolute;
	left:0.45em;
}
.dRight{ /*右边信息样式*/
	position:absolute;
	right:0.45em;
}
.dTitle>.dLeft>span, .dTitle>.dRight>span{
	line-height:2em;
	font-size:0.7em;
}
span>.dLeft>span, span>.dRight>span{
	line-height:2.75em;
	font-size:0.8em;
}
span>.dLeft>span{
	float:right;
}
span>.dRight>span{
	float:left;
}
.dSubVal{
	color:#39F;
}
span>.dLeft>img{
	margin-top:0.35em;
	margin-right:0.3em;
	width:1.5em;
	height:1.5em;
}
.dLinkTitle{
	line-height:2.75em;
	font-size:0.8em;
	color:#666;
}
.dLinkSymbol{
	line-height:1.467em !important; 
	font-size:1.5em !important;
	color:#CCC;
}
.dAboutTip{
	padding:0.4em;
	font-size:0.8em;
	color:#888;
}
.button{
	position:absolute;
	left:0;
	width:100%;
	height:2.2em;
	cursor:pointer;
	z-index:1;
}




